{% extends 'base.html' %}

{% block content %}
  <h1>My Pokémon</h1>

  <div class="row">
    {% for pokemon in catch %}
  <div class="card h-50" style="width: 16rem;">
    <img src="{{ pokemon.sprite }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">{{ pokemon.name.title() }}</h2>
      <p class="card-text">PokéAbility: {{ pokemon.ability.title() }}</p>
      <p class="card-text">Featured Move: {{ pokemon.move.title() }}</p>
      <p class="card-text">HP Base Stat: {{ pokemon.hp_stat }}</p>
      <p class="card-text">Attack Base Stat: {{ pokemon.attack_stat }}</p>
      <p class="card-text">Defense Base Stat: {{ pokemon.defense_stat }}</p>
      <a href="{{url_for('pokerelease', pokemon_id = pokemon.id)}}" class="btn btn-warning">Remove</a>

    </div>
    {% endfor %}
      

  </div>


{% endblock %}














